@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.main-bg {
  background: url(../public/images/11.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/* Component */
@import "./modal.css";
@import "./card.css";

/* Page */
@import "./pages/faq.css";

@layer components{
  .btn--primary-profile{
    @apply text-start px-4 py-2 text-sm font-medium tracking-wide rounded-md shadow-sm bg-blue-600 text-white hover:bg-blue-700;
  }
  .btn--dark-profile{
    @apply w-auto px-4 py-2 text-sm font-medium tracking-wide rounded-md shadow-sm bg-gray-600 text-white hover:bg-gray-700;
  }
}

